<div style="right: 0; top: 0;" class="rightstuff">
            <button id="useWish">Wish (0/7)</button>
            <img src="../static/icons/buttons_main/chat.png" title="Trade Room" width="40" height="40" id="chatRoomButton"
                class="imgbtn">
            <img src="../static/icons/buttons_main/shop.png" title="Marketplace" width="40" height="40" id="marketplaceButton"
                class="imgbtn">
            <img src="../static/icons/buttons_main/patches.png" title="Patch Notes" width="40" height="40"
                id="patchNotesButton" class="imgbtn">
            <img src="../static/icons/buttons_main/trophy.png" title="Achievements" width="40" height="40"
                id="achievementsButton" class="imgbtn">
            <img src="../static/icons/buttons_main/board.png" title="Leaderboard" width="40" height="40"
                id="leaderboardButton" class="imgbtn">
            <div class="verticalL"></div>
            <img id="darkmode" class="imgbtn" src="../static/icons/buttons_main/sun.png" width="40" height="40"
                title="Color Mode">
            <img id="help" class="imgbtn" src="../static/icons/buttons_main/help.png" width="40" height="40"
                title="Report an Issue">
        </div>