<div id="binderBanner" style="display:none;">
    <div class="binderCont">
        <h1 style="font-size: 60px; margin-top: 20px; margin-bottom: 0px;">Collection</h1>
        <button id="closeBinder">Close</button>
        <div id="bindFlex">
            <div id="binderItemsWrapper">
                <div id="binderDots"></div>
                <div id="collectionCont">
                    <div id="binderProgress">
                        <h3 id="pogCount">Pogs: 0 / 0</h3>
                        <progress id="binderBar"></progress>
                    </div>
                    <div id="binderItems"></div>
                </div>
            </div>
            <div id="pogView">
                <div id="viewed">
                    <div class="singleI">
                        <h4></h4>
                        <div id="pognotv"></div>
                    </div>
                </div>
            </div>
            <div id="statBlock">
                <h3>Stats</h3>
                <h4>Health: 1000</h4>
                <h4>Attack: 25</h4>
                <h4>Defense: 100</h4>
                <div>
                    <button class="perkSlot">+</button>
                    <button class="perkSlot">+</button>
                    <button class="perkSlot">+</button>
                </div>
            </div>
        </div>
    </div>
</div>