<div id="binderBanner" style="display:none;">
    <div class="binderCont">
        <div class="overlayBan">
                <h1 style="font-size: 60px; margin-top: -10px; margin-bottom: 0px;">Collection</h1>
                <div class="center">
                    <button class="closeOv" id="closeBinder">X</button>
                </div>
            </div>
        <div id="bindFlex">
            <div id="binderItemsWrapper">
                <div id="binderDots"></div>
                <div id="collectionCont">
                    <div id="binderProgress">
                        <h3 id="pogCount">Pogs: 0 / 0</h3>
                        <progress id="binderBar"></progress>
                    </div>
                    <div id="binderItems"></div>
                </div>
            </div>
            <div id="pogView">
                <div id="viewed">
                    <div class="singleI">
                        <h4></h4>
                        <div id="pognotv"></div>
                    </div>
                </div>
            </div>
            <div id="statBlock">
                <h3>Stats</h3>
                <div class="statBox">
                    <h4 style="margin: 0;">HP</h4>
                    <progress class="statBar" id="HP_PB" value="50" max="100"></progress>
                </div>
                <div class="statBox">
                    <h4 style="margin: 0;">ATK</h4>
                    <progress class="statBar" id="ATK_PB" value="50" max="100"></progress>
                </div>
                <div class="statBox">
                    <h4 style="margin: 0;">DEF</h4>
                    <progress class="statBar" id="DEF_PB" value="50" max="100"></progress>
                </div>
                <div class="statBox">
                    <h4 style="margin: 0;">SPD</h4>
                    <progress class="statBar" id="SPD_PB" value="50" max="100"></progress>
                </div>
                <div>
                    <button class="perkSlot">+</button>
                    <button class="perkSlot">+</button>
                    <button class="perkSlot">+</button>
                </div>
            </div>
        </div>
    </div>
</div>