<div id="gamemode_overlay" style="display: none;">
    <div class="flex_game_panel">
        <div class="game_panel" id="practice">
            <h2>Practice</h2>
            <img src="../static/icons/gamemode/target.png" width="230" height="230">
            <p>Play against targets to test combos and skills</p>
        </div>
        <div class="game_panel" id="pvp">
            <h2>Arena</h2>
            <img src="../static/icons/gamemode/sword.png" width="230" height="230">
            <p>Compete against other similar-ranked players</p>
        </div>
        <div class="game_panel" id="pve">
            <h2>Campaign</h2>
            <img src="../static/icons/gamemode/dice.png" width="230" height="230">
            <p>Fight for the crown in the story mode</p>
        </div>
        <div class="game_panel" id="custom">
            <h2>Custom</h2>
            <img src="../static/icons/gamemode/gear.png" width="230" height="230">
            <p>Set your own rules as you rival friends</p>
        </div>
    </div>
</div>