<div id="overlay" style="display: none;">
        <div id="transConf">
            <h5>Purchase Item?</h5>
            <h5 id="crateprice"></h5>
            <div id="dropdowns">
                <div>
                    <label>Currency</label>
                    <select id="balanceSelect" class="selector">
                        <option value="money">Legacy Money</option>
                        <option value="digi">Digipogs</option>
                    </select>
                </div>
                <div>
                    <label>Quantity</label>
                    <select id="amountSelect" class="selector">
                        <option value="1">1 Crate</option>
                        <option value="5">5 Crates</option>
                        <option value="10">10 Crates</option>
                    </select>
                </div>
            </div>
            <div id="pin" style="display: none;">
                <br>
                <label>PIN</label>
                <input id="pinField" type="password" />
            </div>
            <button id="purchaseBtn">Purchase</button>
            <button id="cancelBtn">Cancel</button>
        </div>
    </div>