#collectBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #6b3df0, #9d42f7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#centerlayout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

#burger_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
}

#burger_btn:hover {
    scale: 1.05;
}

/* panel */
@keyframes close_red {
    0% {margin-top: 20px;}
    100% {margin-top: -500px;}
}

@keyframes open_red {
    0% {margin-top: -500px;}
    100% {margin-top: 20px;}
}

.hidePanel {
    animation: close_red 0.25s ease forwards
}

.showPanel {
    animation: open_red 0.25s ease forwards
}

#redirect_panel {
    position: absolute;
    right: 0;
    top: 1;
    margin-top: 20px;
    background-color: #9d42f7;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 300px;
    box-shadow: 0 0 5px black;
}

.redirect_bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.redirect_bar:hover {
    background-color: #ffffff84;
}

/* play */
#play_btn {
    padding: 10px;
    margin: auto;
    font-weight: bold;
    border-radius: 30px;
    border: transparent;
    background: linear-gradient(
        95deg,
        rgb(90, 255, 75),
        rgb(65, 153, 14)
    );
    scale: 1.3;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#play_btn:hover {
    transition: all 0.1s ease;
    scale: 1.4;
}

.leftstuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.rightstuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.verticalL {
    border-left: 2px solid black;
    height: 60px;
    margin-right: 15px;
}

.imgbtn {
    border-radius: 40px;
    background-color: transparent;
    border: 3px solid transparent;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 0px;
    
    overflow: visible;
}

#titlecont {
    margin-left: 30px;
}