/* Base Crate Style */
:root {
  --neon: #f7d242;
  --neon-soft: rgba(244, 255, 43, 0.35);
  --bg-dark: #0b0f14;
}

.crate {
  position: relative;
  background: linear-gradient(145deg, #0d131a, #05080c);
  border: 2px solid var(--neon);
  color: var(--neon);
  padding: 16px 42px;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  box-shadow: inset 0 0 12px rgba(255, 247, 0, 0.623);
  font-weight: bold;
  width: 350px;
}

.crate:disabled {
    pointer-events: none;
}

/* Hover creates anticipation */
.crate:hover {
    top: -2px;
}

/* The tactile "Pressed" state */
.crate:active {
    top: 4px;
    /* Depresses visually */
    box-shadow: 0 4px #130f0c;
    transform: scale(0.95);
    /* Shrinks slightly to feel "caught" */
}

.buttonSources {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    gap: 5px;
}

#openCratesBtn:hover {
    background-color: #d4bebe;
    scale: 0.7;
}

#openCratesBtn:active {
    scale: 0.65;
}

#crate1:disabled,
#crate2:disabled,
#crate3:disabled,
#crate4:disabled,
#crate5:disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #a3a3a3;
}

#cratesCont {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg, #0d131a, #05080c);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* crate 1 */
#crate1 {
    background-color: rgb(245, 88, 88);
}

/* crate 2 */
#crate2 {
    background-color: rgb(250, 250, 114);
}

/* crate 3 */
#crate3 {
    background-color: rgb(128, 255, 128);
}

/* crate 4 */
#crate4 {
    background-color: lightskyblue;
}

/* crate 5 */
#crate5 {
    background-color: rgb(219, 143, 255);
}