#gamemode_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.flex_game_panel {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

@keyframes show_practice_panel {
    0% {scale: 0;}
    25% {scale: 1;}
    50% {scale: 1;}
    75% {scale: 1;}
    100% {scale: 1;}
}

@keyframes show_pvp_panel {
    0% {scale: 0;}
    25% {scale: 0;}
    50% {scale: 1;}
    75% {scale: 1;}
    100% {scale: 1;}
}

@keyframes show_pve_panel {
    0% {scale: 0;}
    25% {scale: 0;}
    50% {scale: 0;}
    75% {scale: 1;}
    100% {scale: 1;}
}

@keyframes show_custom_panel {
    0% {scale: 0;}
    25% {scale: 0;}
    50% {scale: 0;}
    75% {scale: 0;}
    100% {scale: 1;}
}

.game_panel {
    width: 220px;
    height: 355px;
    padding: 16px;
    border-radius: 14px;
    background: linear-gradient(135deg, #2b2f4a, #1a1d2e);
    color: white;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    transition: 
        transform 0.15s ease,
        box-shadow 0.15s ease,
        background 0.15s ease;
    overflow: hidden;
}

.game_panel img {
    opacity: 0.6;
    filter: brightness(0);
    z-index: 100;
    transition: all 0.1s ease;
}

.game_panel h2 {
    position: absolute;
    z-index: 101;
    scale: 1.4;
    transition: all 0.1s ease;
}

.game_panel p {
    position: absolute;
    width: 150px;
    scale: 1.2;
    margin-bottom: -430px;
    opacity: 0;
    transition: all 0.1s ease;
}

#practice {
    animation-name: show_practice_panel;
    animation-duration: 0.75s;
}

#pvp {
    animation-name: show_pvp_panel;
    animation-duration: 0.75s;
}

#pve {
    animation-name: show_pve_panel;
    animation-duration: 0.75s;
}

#custom {
    animation-name: show_custom_panel;
    animation-duration: 0.75s;
}

.game_panel:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(1.1)
}

.game_panel:hover h2 {
    margin-bottom: -20px;
}

.game_panel:hover img {
    margin-top: -80px;
}

.game_panel:hover p {
    opacity: 0.5;
    margin-bottom: -300px;
    z-index: 100;
}

.game_panel:active {
    transform: scale(0.97);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}