#perkBanner {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.perkCont {
    background-color: #0d0d0e;
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border: transparent;
    text-align: center;
    color: White;
    box-shadow: 0 0 5px black;
}

#perkCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow-y: auto;
    height: 80vh;
    perspective: 1000px;
    background: #0d131a
}

#closePerks {
    margin-top: 20px;
    background-color: rgb(255, 233, 233);
    border: transparent;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 1.3;
}

#closePerks:hover {
    background-color: rgb(112, 106, 106);
}

:root {
  --gold: linear-gradient(
    135deg,
    #c9a44c,
    #f5e6a8,
    #b8962e,
    #f5e6a8
  );
}

.perk_card {
    border: 4px solid black;
    padding: 11px;
    margin: 10px;
    display: inline-block;
    width: 240px;
    height: 340px;
    border-radius: 16px;
    background: var(--gold);
    transition: all 0.1s ease;
    transform-style: preserve-3d;
}

.perk_card:hover {
    scale: 1.1;
}

.inner_card {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
}

.inner_card::before {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 8px;
  border: 2px solid #d4af37;
  box-shadow:
    0 0 6px rgba(212,175,55,0.6),
    inset 0 0 6px rgba(212,175,55,0.6);
    pointer-events: none;
}

.card_padding {
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notches {
    position: absolute;
    margin-top: 296px;
    scale: 1.4;
}