#pfpChanger {
    background: linear-gradient(135deg, #2b2f4a, #1a1d2e);
    box-shadow: 0 0 10px black;
    border: 1px solid rgba(255, 255, 255, 0.094);
    border-radius: 10px;
    padding: 5px;
    font-style: bold;
    font-size: 15px;
    z-index: 50;
    position: fixed;
    display: none;
}

#closePfpChanger {
    background: #0d131a;
    color: #9d42f7;
    border: 2px solid #9d42f7;
    box-shadow: inset 0 0 12px rgba(106, 0, 255, 0.623);
    border-radius: 40px;
    width: 70px;
    height: 25px;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
    scale: 0.8;
    transition: all 0.1s ease;
}

#closePfpChanger:hover {
    scale: 0.85;
}

#filepfp {
    margin-top: 10px;
    border: transparent;
    border-radius: 10px;
    padding: 5px;
    font-style: bold;
    font-size: 15px;
    background: linear-gradient(90deg, #6b3df0, #9d42f7);
}