/* settings */
#settings {
    transition: ease-in-out 0.3s;
    margin-top: 8px;
    top: 100px;
    right: 20px;
    background: linear-gradient(135deg, #2b2f4a, #1a1d2e);
    box-shadow: 0 0 10px black;
    border: 1px solid rgba(255, 255, 255, 0.094);
    width: 400px;
    padding-bottom: 10px;
    min-height: auto;
    height: auto;
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    position: static;
    flex-shrink: 1;
}

#settings_tools_btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.tools {
    background-color: #ecdcdc;
    border: transparent;
    border-radius: 10px;
    padding: 7px;
    width: 35px;
    height: 35px;
    text-align: center;
    
    font-style: bold;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.tools:hover {
     background-color: #d4bebe;
     scale: 1.1;
}

#searchbtn {
    background-color: #ecdcdc;
    border: transparent;
    border-radius: 10px;
    padding: 7px;
    width: 35px;
    height: 35px;
    text-align: center;
    
    font-style: bold;
    font-size: 18px;
    cursor: pointer;
    scale: 0.8;
    transition: all 0.1s ease;
}

#searchbtn:hover {
    background-color: #d4bebe;
}

#sortcont {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

option {
    
    font-style: bold;
    font-size: 18px;
    border-radius: 5px;
}

/* search button */
#searchbar {
    gap: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px 0px 10px;
}

#searchbox {
    background-color: #ecdcdc;
    border: transparent;
    border-radius: 10px;
    width: 400px;
    padding: 4px;
    text-align: center;
    
    font-style: bold;
    font-size: 20px;
    cursor: text;
    scale: 0.85;
}

#selectSort {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    width: 300px;
    color: #000000;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: #ecdcdc;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 12px;
    cursor: pointer;
    text-align: center;
    
    transition: all 0.1s ease;
}

#selectSort:hover,
#selectSort:focus {
    border: 3px solid #a7a7a7;
    /* Green border on interact */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow lift */
    outline: none;
}

#selectSort,
::picker(select) {
    appearance: base-select;
    /* Enables deep customization */
}

/* Style the dropdown list that pops out */
::picker(select) {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s allow-discrete;
    /* Allow animation to popover */
}

/* Animation state when opened */
::picker(select):popover-open {
    opacity: 1;
    transform: translateY(0);
}

#stats {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}