@keyframes show_shop {
    0% {scale: 0;}
    100% {scale: 1;}
}

.transContain {
    background: linear-gradient(135deg, #2b2f4a, #1a1d2e);
    min-width: 10%;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    box-shadow: 0 0 5px black;
    overflow: hidden;
    animation-name: show_shop;
    animation-duration: 0.25s;
}

.shopBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.selection_cont {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.shop_selector {
    font-size: 16px;
    padding: 5px;
    width: 150px;
    color: #9d42f7;
    border: 2px solid #9d42f7;
    box-shadow: inset 0 0 12px rgba(106, 0, 255, 0.623);
    background-color: transparent;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 12px;
    cursor: pointer;
    text-align: center;
    
    font-weight: bold;
    transition: all 0.1s ease;
}

.shop_selector:hover {
    scale: 1.05;
}

h5 {
    scale: 1.3;
    margin-top: 0px;
}

label {
    font-weight: bold;
}

.buy_btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.confirmTrans {
    background-color: transparent;
    color: #9d42f7;
    border: 2px solid #9d42f7;
    box-shadow: inset 0 0 12px rgba(106, 0, 255, 0.623);
    border-radius: 45px;
    width: 100px;
    padding: 8px;
    text-align: center;
    
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.1s ease;
}

.confirmTrans:hover {
    scale: 1.05;
}

.confirmTrans:active {
    scale: 0.95;
}

@keyframes show_pin {
    0% {scale: 0;}
    100% {scale: 1;}
}

.inputfield {
    border-radius: 10px;
    color: black;
    width: 100px;
    border: transparent;
    padding: 6px;
}

.pinCont {
    animation-name: show_pin;
    animation-duration: 0.2s;
}

.cancelTrans {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 45px;
    width: 100px;
    
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
    transition: all 0.1s ease;
    opacity: 0.5;
    font-weight: bold;
}

.cancelTrans:hover {
    background-color: black;
    color: rgb(30, 30, 30);
}

#dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.prices_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cost_display {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    min-width: 150px;
    border-radius: 30px;
    font-weight: bold;
}