#XPTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 2px;
  background: linear-gradient(90deg, #1dba4c, #29f574);
  height: 40px;
  color: #1a1a1a;
  scale: 0.8;   
  padding: 5px;
}

#XPTxt:hover {
  transform: scale(1.1);
}

progress {
  appearance: none;
  -webkit-appearance: none;
  width: 320px;
  height: 11px;
}

/* Background */
progress::-webkit-progress-bar {
  background: #1a1a1a;
  border-radius: 10px;
}

/* XP Fill */
progress::-webkit-progress-value {
  background: linear-gradient(
    90deg,
    #1dba4c,
    #29f574
  );
  border-radius: 8px;
  transition: width 0.6s ease-out;
}