#transConf {
    background-color: rgb(0, 0, 0);
    width: 40%;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border: 6px solid rgb(44, 44, 44);
    text-align: center;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20000002;
    box-shadow: 0 0 5px black;
}

h5 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scale: 1.3;
}

#purchaseBtn {
    background-color: #5ea54e;
    border: transparent;
    border-radius: 45px;
    width: 100px;
    margin-left: 15px;
    padding: 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 15px;
    cursor: pointer;
}

#pinField {
    border-radius: 10px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    border: transparent;
    padding: 6px;
}

#purchaseBtn:hover {
    background-color: #4a8440;
    box-shadow: 0 0 5px white;
    color: white;
}

#cancelBtn {
    margin-top: 20px;
    background-color: rgb(255, 233, 233);
    border: transparent;
    border-radius: 45px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
}

#cancelBtn:hover {
    background-color: rgb(112, 106, 106);
}

.selector {
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
    width: 150px;
    color: #000000;
    border: 3px solid rgba(255, 255, 255, 0);
    background-color: #ecdcdc;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 12px;
    cursor: pointer;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.1s ease;
}

#dropdowns {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}