body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 135px;
    user-select: none;
}

h1 {
    color: whitesmoke;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}

li {
    list-style: none;
}

#marketplaceBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #de5aff;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 80px;
}

#circleButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 75px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}

#circleButton:hover {
    background-color: #e0e0e0;
}